@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400&display=swap');

html {
height: 100%;
width: 100%;
font-family: Teko;
letter-spacing: 0.1em;
font-size: 100%;
color:rgb(21, 21, 143);
}

body {
  margin: 0 12.39% 0 12.39%;
  background-color: beige;
}

.page-content {
  display: flex;
  background-color: white;
}

.cover {
  display: flex;
  flex: 0 40%;
  height: 100vh;
  background: url(./img.jpg);
  background-size: cover;
  position: relative;
  justify-content: center;
}
.banner h2 {
font-size: min(4.5vw, 250px);
text-align: center;

}

.banner {
  display: block;
  background: rgba(50, 120, 180, 0.3);
  color: white;
  letter-spacing: 0.2em;
  word-spacing: 0.5em;
  width: 100%;
  margin-top: 26%;
  height: 20%;
  min-height: 80px;
  justify-content: center;
  
}

.content {
  display: flex;
  flex: 0 1 66%;
  flex-flow: column nowrap;
  justify-content:space-evenly;
}

.main {
  flex: 0 1 100%;
  height: 33%;
  padding: 0 8px 1px 8px;

}

.main.header {
  display: flex;
  flex-flow: wrap;
  flex: 1;
  height: 42.3;
  background-color:rgba(50, 120, 180, 0.02);
}

.main.header > p {
  display: flex;
  flex-flow: wrap;
  font-size: min(2.4vh, 1.8vw);
}
.main.form {
  display: flex;
  flex: 0 1 auto;
  flex-flow: column;
  background-color: rgb(128, 0, 128, 0.04);
  box-shadow: 0px 17px 30px rgba(250, 204, 225, 0.4);
}

#registration_form {
display: grid;
padding-left: 2vw;
grid-gap: 10% 20%;
max-width: 40vw;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3,1fr);
}

#registration_form div {
display: flex;
flex: auto;
flex-flow: column;
}

.main.footer {
  position: relative;
  display: flex;
  flex: 0 1 auto;
  flex-flow: column wrap;
  margin: 40px 4px 0px 4px;
  
}
button {
  width: 200px;
  height: 50px;
  background-color: hotpink;
  border: rebeccapurple solid;
  border-radius: 10px;
  box-shadow: 0.2px 0.2px 7px;
  position: absolute;
  bottom: 25vmin;
  left: 3vmin;
}
.footer h3 {
  position: absolute;
  bottom: 17vmin;
  left: 3vmin;
}

input:focus {
  box-shadow:rgba(250, 204, 225, 0.6) 0px 7px 30px;
  border: solid rgb(219, 192, 206);
}
input:invalid {
  box-shadow:rgba(230, 8, 8, 0.825) 3px 7px 20px;
}

@media only screen and (max-width: 950px) {
  #registration_form {
    display: grid;
    padding-left: 2vw;
    grid-gap: 1% 20%;
    max-width: 40vw;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6,1fr);
    }
    .header {
      max-height: 150px;
    }

    .form {
      max-height: 200px;
    }

    .footer {
      height: 250px;
      position: relative;
    }

    .page-content, body, .section, .content, .cover {
      display: flex;
      flex-flow: column;
    }

    .cover, .banner {
      max-height: 100px;
      margin: 0;
    }
    .banner {
      width: 50%;
      margin-left: 23%;
    }

    button {
      position: absolute;
      bottom: 70px;
      left: 21px;
    }

    .footer h3 {
      position: absolute;
      bottom: 5px;
      left: 22px;
    }

}
